{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA-advice</title>
    <link rel="stylesheet" href="{% static 'assets/css/CA-advice.css' %}">
</head>
<body>
    <div class="card-base">
        <!-- CA profiles -->
    <div class="card card1" style="width: 18rem;">
        <div class="image-base1">
           
        </div>
        <div class="card-body body">
          <h5 class="card-title" style="font-size: 30px;">James</h5>
          <p class="card-text">CA  Advisor <br><br> Work Experience : 8 years</p>
          <button style="color:white; background-color:rgb(236, 136, 6); padding: 5px; border-radius: 5px;"><a href="{% url 'messages' %}" class="btn btn-primary"  style=" color:white; font-size:larger ; text-decoration: none;"  >Take Advice</a></button>
          </div>
      </div>

      <div class="card card2" style="width: 18rem;">
        <div class="image-base2">
       
        </div>
        <div class="card-body body">
          <h5 class="card-title" style="font-size: 30px;">Joseph</h5>
          <p class="card-text">CA  Advisor <br> <br> Work Experience : 6 years</p>
          <button style="color:white; background-color:rgb(236, 136, 6); padding: 5px; border-radius: 5px;"><a href="#" class="btn btn-primary"  style="color: white; text-decoration: none; font-size: larger;">Take Advice</a></button>
        </div>
      </div>

      <div class="card card3" style="width: 18rem;">
        <div class="image-base3">
        
        </div>
        <div class="card-body body">
          <h5 class="card-title" style="font-size: 30px;">William</h5>
          <p class="card-text">CA  Advisor <br> <br> Work Experience : 5 years</p>
          <button style="color:white; background-color:rgb(236, 136, 6); padding: 5px; border-radius: 5px;"><a href="#" class="btn btn-primary" style="color: white; text-decoration: none; font-size: larger;">Take Advice</a></button>
        </div>
      </div>

    

    </div>

<!-- 2nd row -->

    <div class="card-base">
      <!-- CA profiles -->
  <div class="card card1" style="width: 18rem;">
      <div class="image-base1">
         
      </div>
      <div class="card-body body">
        <h5 class="card-title" style="font-size: 30px;">Benjamin</h5>
        <p class="card-text">CA  Advisor <br> <br> Work Experience : 3 years</p>
        <button style="color:white; background-color:rgb(236, 136, 6); padding: 5px; border-radius: 5px;"><a href="#" class="btn btn-primary" style="color: white; text-decoration: none; font-size: larger;">Take Advice</a></button>
      </div>
    </div>

    <div class="card card2" style="width: 18rem;">
      <div class="image-base2">
     
      </div>
      <div class="card-body body">
        <h5 class="card-title" style="font-size:30px;">Charles</h5>
        <p class="card-text">CA  Advisor <br><br> Work Experience : 2 years</p>
        <button style="color:white; background-color:rgb(236, 136, 6); padding: 5px; border-radius: 5px;"><a href="#" class="btn btn-primary" style="color: white; text-decoration: none; font-size: larger;">Take Advice</a></button>
      </div>
    </div>

    <div class="card card3" style="width: 18rem;">
      <div class="image-base3">
      
      </div>
      <div class="card-body body">
        <h5 class="card-title" style="font-size: 30px;">eric</h5>
        <p class="card-text">CA  Advisor <br> <br> Work Experience : 1 years</p>
        <button style="color:white; background-color:rgb(236, 136, 6); padding: 5px; border-radius: 5px;"><a href="#" class="btn btn-primary" style="color: white; text-decoration: none; font-size: larger;">Take Advice</a></button>
      </div>
    </div>

  

  </div>
</body>
</html>